<html>   <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <meta name="description" content="Ejemplo que muestra ventanas modales animadas solo con css y su selector target. No solo CSS" lang="ES" />
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>


</head>

<body>
<div class="section-body" ng-controller="ActivosController as activos">

    <div id="myModal2" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type='button' ng-click='on_click_cancel2()'>×</button>
                    <h4 class="modal-title">  Reporte guardado con éxito </h4>
                    <h5>Generando folio ........</h5>
                </div>
            </div>
        </div>
    </div>
<h1 > </h1>


    <div class="card-head card-head-sm collapsed style-primary-light text-center" data-toggle="collapse" data-parent="#accordion1-2" data-target="#accordion1-2">
        <header><strong>REPORTES EN REPARACIÓN Y GARANTIA </strong></header>
        <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-plus"></i></a>
        </div>
    </div>
 </br>
    <div id="accordion1-2" >
    <div >
        <label class="buscarLibros">Buscar:</label>
        <input ng-model="folioBuscado"  class="form-control" type="text"> <span class="fa fa-search form-control-feedback"></span>
        <div class="form-control-line "> </div>
        <br>

        <!-- filtro -->
    </div>
    <table  class="col-md-12 table no-margin table-hover    " >
        <thead class="style-default-dark">
            <tr >
              <td style="width: 200px;"></td>
              <td>FOLIO <i class="fa fa-tag"></i>
              </td>

              <td>ESTATUS <i class="fa fa-heartbeat"></i>
              </td>
              <td>TIPO <i class="fa fa-laptop"></i></td>
              <td>RESPONSABLE<i class="fa fa-user"></i>
              </td>
                <td>UNIDAD <i class="fa fa-hospital-o"></i>
                </td>
              <td></td>
            </tr>
         </thead>

        <tr class="text-lg"  ng-repeat-start="reporte in activos.reportes.data | filter:folioBuscado "><!--Aqui empieza el ng-repeat-start -->

            <!--inicia Listo-->
            <!--
            <td ng-if="reporte.status == 'Listo'" class="success">
            <button ng-if="reporte.post.expanded" ng-click="reporte.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle  fa-2x"></i></button>
            <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte.post.expanded" ng-click="reporte.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i> </button>
            </td>
            <td ng-if="reporte.status == 'Listo'" class="success text-ultra-bold text-xxl ">{{reporte.folio}}</td>
            <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.status}}</td>
            <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.descripcion}}</td>
            <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.nombre}}</td>

            <!--termina Listo-->

             <!--inicia Garantia-->
            <h3>
            <td ng-if="reporte.status == 'Garantia'" class="danger">
            <button ng-if="reporte.post.expanded" ng-click="reporte.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle fa-2x"></i>
            </button>
            <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte.post.expanded" ng-click="reporte.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i>
            </button>
            </td>
            <td ng-if="reporte.status == 'Garantia'" class="danger text-ultra-bold text-xxl">{{reporte.folio}}</td>

            <td ng-if="reporte.status == 'Garantia'" class="danger"> {{reporte.status}}</td>
            <td ng-if="reporte.status == 'Garantia'" class="danger"> {{reporte.descripcion}}</td>
            <td ng-if="reporte.status == 'Garantia'" class="danger"> {{reporte.nombre}}</td>
                <td ng-if="reporte.status == 'Garantia'" class="danger"> {{reporte.unidad}}</td>
            <!--termina Garantia-->

            <!--inicia reparacion-->
            <td ng-if="reporte.status == 'En reparacion'" class="warning">
                <button ng-if="reporte.post.expanded" ng-click="reporte.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle  fa-2x"></i></button>
                <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte.post.expanded" ng-click="reporte.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i></button>
            </td>
            <td ng-if="reporte.status == 'En reparacion'" class="warning text-ultra-bold text-xxl">{{reporte.folio}}</td>

            <td ng-if="reporte.status == 'En reparacion'" class="warning"> {{reporte.status}}</td>
            <td ng-if="reporte.status == 'En reparacion'" class="warning"> {{reporte.descripcion}}</td>
            <td ng-if="reporte.status == 'En reparacion'" class="warning"> {{reporte.nombre}}</td>
                <td ng-if="reporte.status == 'En reparacion'" class="warning"> {{reporte.unidad}}</td>
            <!--termina reparacion-->

            <!--inicia nuevo-->
            <td ng-if="reporte.status == 'nuevo'" class="alert alert-accent">
                <button ng-if="reporte.post.expanded" ng-click="reporte.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle  fa-2x"></i></button>
                <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte.post.expanded" ng-click="reporte.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i></button>
            </td>
            <td ng-if="reporte.status == 'nuevo'" class="alert alert-accent text-ultra-bold text-xxl">{{reporte.folio}}</td>
                <td ng-if="reporte.status == 'nuevo'" class="alert alert-accent"> {{reporte.unidad}}</td>
            <td ng-if="reporte.status == 'nuevo'" class="alert alert-accent"> {{reporte.status}}</td>
            <td ng-if="reporte.status == 'nuevo'" class="alert alert-accent"> {{reporte.descripcion}}</td>
            <td ng-if="reporte.status == 'nuevo'" class="alert alert-accent"> {{reporte.nombre}}</td>
            <!--termina nuevo-->
            </h3>
            <!--inicia entregado-->

            <!--inicia Listo-->
            <td ng-if="reporte.status == 'Listo'" class="success">
                <button ng-if="reporte.post.expanded" ng-click="reporte.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle  fa-2x"></i></button>
                <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte.post.expanded" ng-click="reporte.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i> </button>
            </td>
            <td ng-if="reporte.status == 'Listo'" class="success text-ultra-bold text-xxl ">{{reporte.folio}}</td>

            <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.status}}</td>
            <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.descripcion}}</td>
            <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.nombre}}</td>
            <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.unidad}}</td>
            <!--termina Listo-->

            <!--
            <td ng-if="reporte.status == 'Entregado'" class="">
                <button ng-if="reporte.post.expanded" ng-click="reporte.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle  fa-2x"></i></button>
                <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte.post.expanded" ng-click="reporte.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i></button>
            </td>
            <td ng-if="reporte.status == 'Entregado'" class="active text-ultra-bold text-xxl">{{reporte.folio}}</td>
            <td ng-if="reporte.status == 'Entregado'" class="active"> {{reporte.status}}</td>
            <td ng-if="reporte.status == 'Entregado'" class="active"> {{reporte.descripcion}}</td>
            <td ng-if="reporte.status == 'Entregado'" class="active"> {{reporte.nombre}}</td>
            <!--termina entregado-->

        </tr> <!--Aqui termina el ng-repeat-start -->



        <tr ng-if="reporte.post.expanded" ng-repeat-end>
           <td colspan="1"> <div class="col-sm-1">
               <div class="btn-group open">
                  &nbsp;&nbsp;
                  <button class="btn ink-reaction btn-floating-action btn-sm btn-primary" data-toggle="dropdown" type="button" aria-expanded="true"> <i class="fa fa-th-list fa-2x"></i> </button>
                   <ul class="dropdown-menu dropdown-menu text-center" role="menu" >

                        <div ng-if = "  
                                        global_user_category != 2 
                                        or global_user_category != 3 
                                        or global_user_category != 5 
                                        or global_user_category != 6 
                        ">
                            <li class = "text-center" >
                                <a class="ink-reaction " href="app#/edicion/{{reporte.folio}}"><i class="fa fa-pencil-square-o fa-2x"></i> &nbsp;Editar</a>  
                            </li>
                            <li class="divider"></li>
                            <li class = "text-center" >
                                <a class="ink-reaction" href="app#/entrega/{{reporte.folio}}"><i class="fa fa-check-square-o fa-2x"></i> &nbsp;Entregar</a>
                            </li>
                        </div>


                        <div ng-if = "
                                      global_user_category == 2
                        ">
                            <li class = "text-center" >
                                <a class="ink-reaction" href="app#/edicion/{{reporte.folio}}"><i class="fa fa-pencil-square-o fa-2x"></i> &nbsp;Editar</a>  
                            </li>                           
                        </div>


                    </ul>
               </div>
           </div>
           </td>

           <td  colspan="1" >


            <strong>Fecha de Recepción:</strong> {{reporte.finicio}}  <br/>
               <strong>Persona </strong> {{reporte.personaquereporta}}
           </td>
            <td>

                <strong>Prioridad </strong> {{reporte.prioridad}}</br>

                <strong class=" style-dange">Problema
                </strong> {{reporte.problema}} <br/>
            <strong>Área:</strong> {{reporte.area}} <br>


           </td>
             <td>

                 <strong>Marca:</strong>{{reporte.marca}} <br/>
             <strong>Modelo:</strong> {{reporte.modelo}}<br/>
                 <strong>Serie:</strong> {{reporte.serie}}
             </td>
            <td>


                <strong>Fecha Inicio:</strong> {{reporte.finicio}} <br/>
                <strong>Fecha Término:</strong> {{reporte.ftermino}}

           </td>


            <td colspan="2">   </td>
       </tr>






    </table>
    </div>

        <!-- entregados y listos  --><div class="text-default-bright"  > > </div>
<br> <br>
    <div class="card-head card-head-sm collapsed style-accent text-center" data-toggle="collapse" data-parent="#accordion1-3" data-target="#accordion1-3">
        <header>LISTOS Y ENTREGADOS  </header>
        <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-plus"></i></a>
        </div>
    </div>


    <div id="accordion1-3">
        <div id="">
            <label class="buscarLibros">Buscar:</label>
            <input ng-model="folioBuscado2"  class="form-control" type="text"> <span class="fa fa-search form-control-feedback"></span>
            <div class="form-control-line ">
                <br>

                <!-- filtro -->
            </div>




            <table  class="col-md-12 table no-margin table-hover    " >
                <thead class="style-default-dark">
                <tr >
                    <td style="width: 200px;"></td>
                    <td>FOLIO <i class="fa fa-tag"></i>
                    </td>
                    <td>ESTATUS <i class="fa fa-heartbeat"></i>
                    </td>
                    <td>TIPO <i class="fa fa-laptop"></i></td>
                    <td>RESPONSABLE<i class="fa fa-user"></i>
                    </td>
                    <td>UNIDAD <i class="fa fa-hospital-o"></i>
                    </td>
                    <td></td>
                </tr>
                </thead>

                <tr class="text-lg"  ng-repeat-start="reporte2 in activos.reportes.data | filter:folioBuscado2 "><!--Aqui empieza el ng-repeat-start -->

                    <!--inicia Listo-->
                    <!--
                    <td ng-if="reporte.status == 'Listo'" class="success">
                    <button ng-if="reporte.post.expanded" ng-click="reporte.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle  fa-2x"></i></button>
                    <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte.post.expanded" ng-click="reporte.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i> </button>
                    </td>
                    <td ng-if="reporte.status == 'Listo'" class="success text-ultra-bold text-xxl ">{{reporte.folio}}</td>
                    <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.status}}</td>
                    <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.descripcion}}</td>
                    <td ng-if="reporte.status == 'Listo'" class="success">{{reporte.nombre}}</td>

                    <!--termina Listo-->






                    </h3>
                    <!--inicia entregado-->
                    <td ng-if="reporte2.status == 'Entregado'" class="info">
                        <button ng-if="reporte2.post.expanded" ng-click="reporte2.post.expanded = false" class="btn ink-reaction btn-raised btn-primary"><i class="fa fa-minus-circle  fa-2x"></i></button>
                        <button  class="btn ink-reaction btn-raised btn-primary" type="button"  ng-if="!reporte2.post.expanded" ng-click="reporte2.post.expanded = true"><i class="fa fa-plus-circle fa-2x"></i></button>
                    </td>
                    <td ng-if="reporte2.status == 'Entregado'" class="info text-ultra-bold text-xxl">{{reporte2.folio}}</td>
                    <td ng-if="reporte2.status == 'Entregado'" class="info"> {{reporte2.status}}</td>
                    <td ng-if="reporte2.status == 'Entregado'" class="info"> {{reporte2.descripcion}}</td>
                    <td ng-if="reporte2.status == 'Entregado'" class="info"> {{reporte2.nombre}}</td>
                    <td ng-if="reporte2.status == 'Entregado'" class="info"> {{reporte2.unidad}}</td>
                    <!--termina entregado-->

                </tr> <!--Aqui termina el ng-repeat-start -->



                <tr ng-if="reporte2.post.expanded" ng-repeat-end>
                    <td colspan="1"> <div class="col-sm-1">
                        <div class="btn-group open">
                            <button class="btn ink-reaction btn-floating-action btn-sm btn-primary" data-toggle="dropdown" type="button" aria-expanded="true">
                                <i class="fa fa-plus-square fa-2x"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu" role="menu">
                                <li>

                                    <a class="ink-reaction" href="app#/edicion/{{reporte2.folio}}">editar <i class="fa fa-pencil-square-o fa-2x"></i></a>

                                    <a class="btn btn-warning" href="app#/edicion/{{reporte2.folio}}"> </a>

                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="ink-reaction" href="app#/entrega/{{reporte.folio}}">Entregar <i class="fa fa-check-square-o fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    </td>

                    <td  colspan="1" >


                        <strong>Fecha de Recepción:</strong> {{reporte2.finicio}}  <br/>
                        <strong>Persona </strong> {{reporte2.personaquereporta}}
                    </td>
                    <td>

                        <strong>Prioridad </strong> {{reporte2.prioridad}}</br>

                        <strong class=" style-dange">Problema
                        </strong> {{reporte2.problema}} <br/>
                        <strong>Área:</strong> {{reporte2.area}} <br>


                    </td>
                    <td>

                        <strong>Marca:</strong>{{reporte2.marca}} <br/>
                        <strong>Modelo:</strong> {{reporte2.modelo}}<br/>
                        <strong>Serie:</strong> {{reporte2.serie}}
                    </td>
                    <td>


                        <strong>Fecha Inicio:</strong> {{reporte2.finicio}} <br/>
                        <strong>Fecha Término:</strong> {{reporte2.ftermino}}

                    </td>


                    <td colspan="2">   </td>

                </tr>






            </table>







    </div> <!-- termina tabla entregado-->





        <!-- termina prueba-->
<!--
 <div class="text-default-bright">
    {{activos.reportes.data}}
</div>-->





</div> <!-- cierra el angular  -->
    </div>

</div>
</body>
</html>