<div class="section-header">
    <h2 class="text-primary">Cat&aacute;logo de Usuarios  </h2>
</div>
<div class="section-body" ng-controller="UserController as admin" >
    <div class="row">
        <div class="card panel" id="userCardForm">
            <div class="card-head card-head-sm collapsed style-primary-light" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-2">
                <header>Agregar Usuario Nuevo   </header>
                <div class="tools">
                    <a class="btn btn-icon-toggle"><i class="fa fa-plus"></i></a>
                </div>
            </div>

            <div id="accordion1-2" class="collapse">
                <!-- BEGIN VALIDATION FORM WIZARD -->
                <div class="row" >
                    <div class="col-lg-12">
                        <form class="form" ng-init="admin.init()"  novalidate="novalidate" id="formUsuarios" name="formUsuarios">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="nombre" ng-model="admin.user.data.nombre" id="firstname" class="form-control ng-dirty ng-invalid ng-valid" data-rule-minlength="2" required>
                                            <label for="firstname" class="control-label">Nombre completo </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <input type="text" name="matricula" ng-model="admin.user.data.matricula"  id="matricula" class="form-control ng-dirty ng-invalid ng-valid" data-rule-minlength="2" required>
                                            <label for="matricula" class="control-label">Matricula</label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <select id="Age2" name="tipo" ng-model="admin.user.data.tipo" class="form-control ng-dirty ng-invalid ng-valid" required >
                                                <option selected ></option>
                                                <option >RECEPCION</option>
                                                <option >SOPORTE</option>
                                                <option >TELECOM</option>
                                                <option >ADMIN</option>
                                                <option >ESPECIALISTA</option>
                                            </select>
                                            <label for="Age2">Tipo de usuario {{data.tipo}}</label>

                                        </div>
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select id="cat" name="tipo" ng-model="admin.user.data.categoria" class="form-control ng-dirty ng-invalid ng-valid" required="">
                                                <option selected></option>
                                                <option >Responsable de unidad</option>
                                                <option >Mesa de recepcion</option>
                                                <option >Auxiliar</option>
                                                <option >Oficial</option>
                                                <option >Coordinador</option>
                                                <option >Garantia</option>
                                                <option >Especialista</option>
                                                <option >Call Center</option>
                                                <option >Administrador</option>
                                                <option >Jefe de oficina</option>
                                                <option >Coordinador</option>
                                            </select>
                                            <label for="cat">Categoria </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select id="categoria" name="tipo" ng-model="admin.user.data.subcategoria" class="form-control ng-dirty ng-invalid ng-valid" required="">
                                                <option selected></option>
                                                <option >Responsable de unidad</option>
                                                <option >Mesa de recepcion</option>
                                                <option >Auxiliar</option>
                                                <option >Oficial</option>
                                                <option >Coordinador</option>
                                                <option >Garantia</option>
                                                <option >Especialista</option>
                                                <option >Call Center</option>
                                                <option >Administrador</option>
                                                <option >Jefe de oficina</option>
                                                <option >Coordinador</option>
                                            </select>
                                            <label for="categoria">Subcategoria</label>
                                        </div>
                                    </div>                           


                                </div>


                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group"  ng-controller="AuComUnidades">
                                    <script type="text/ng-template" id="customTemplateTipo.html">
                                        <a>
                                            <i>({{match.model.unidad}})</i>
                                        </a>
                                    </script>
                                    <input type="text" name="firstname" ng-model="admin.user.data.unidad" typeahead-editable="false" typeahead="datos.nombre for datos in datos | filter:$viewValue | limitTo:10" id="unidad" class="form-control" data-rule-minlength="2" required>
                                    <label for="unidad" class="control-label">Unidad</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group"  ng-controller="AuComUnidades">
                                    <script type="text/ng-template" id="customTemplateTipo.html">
                                        <a>
                                            <i>({{match.model.unidad}})</i>
                                        </a>
                                    </script>
                                    <input type="text" name="firstname" ng-model="admin.user.data.subunidad" typeahead-editable="false" typeahead="datos.nombre for datos in datos | filter:$viewValue | limitTo:10" id="unidad" class="form-control" data-rule-minlength="2" required>
                                    <label for="unidad" class="control-label">Sub-Unidad</label>
                                </div>
                            </div>

                        
                        </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="password" name="contrasena" ng-model="admin.user.data.contrasena" id="password1" class="form-control ng-dirty ng-invalid ng-valid" required="" data-rule-minlength="5">
                                            <label for="password1" class="control-label">Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="password" name="contrasena"  ng-model="admin.user.data.repcontrasena" id="passwordrepeat" class="form-control ng-dirty ng-invalid ng-valid" data-rule-equalto="#password1" required="">
                                            <label for="passwordrepeat" class="control-label">Repetir contraseña</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <p>¿Es CDI?</p>
                                        <div class="col-sm-3">
                                            <label class="radio-inline radio-styled" >
                                                <input type="radio"  ng-model="admin.user.data.esCDI"  name="CDI" value="SI" />
                                                <span>SI</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="radio-inline radio-styled" >
                                                <input type="radio"  ng-model="admin.user.data.esCDI"  name="CDI" value="NO"/>
                                                <span>NO</span>
                                            </label>
                                        </div>
                                    </div>


                                    <div class="col-lg-6 form-group">
                                        <p>¿Es Coordinador?</p>
                                        <div class="col-sm-3">
                                            <label class="radio-inline radio-styled" >
                                                <input type="radio"  ng-model="admin.user.data.escoordinador"  value="SI" name="coor" />
                                                <span>SI</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label class="radio-inline radio-styled" >
                                                <input type="radio"  ng-model="admin.user.data.escoordinador" value="NO"   name="coor" />
                                                <span>NO</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="card-actionbar">
                                <div class="card-actionbar-row">
                                    <button class="btn btn-flat btn-primary ink-reaction" ng-click="resetData()" type="reset">Cancelar</button>

                                    <button class="btn  btn-primary ink-reaction" name="enviar" id="enviar" type="submit">Guardar</button>
                                    <br>
                                </div>
                            </div>
                        </form>
                    </div><!--end .col -->
                </div><!--end .row -->
                <!-- END VALIDATION FORM WIZARD -->
            </div>
        </div>
        <br/><br/>
        <div class="card-head card-head-sm collapsed style-primary-light" data-toggle="collapse" data-parent="#accordion2" data-target="#accordion2-3">
            <header>Ver Tecnicos Capturados</header>
            <div class="tools">
                <a class="btn btn-icon-toggle"><i class="fa fa-plus"></i></a>
            </div>
        </div>

        <div id="accordion2-3" class="collapse">
            <!-- BEGIN VALIDATION FORM WIZARD -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-12 col-sm-12">
                        
                        <table datatable="" dt-options="admin.dtOptions" dt-columns="admin.dtColumns" t-instance="admin.dtInstance" class="table table-striped table-hover"></table>
                    </div>

                </div><!--end .row -->
            </div>
        </div>
    </div>

</div>



