<div class="section-body" ng-controller="AsignacionController as as">
    <div class="section-header">
        <div class="row">
            <div class="card panel">
                <div class="card-head card-head-sm collapsed style-primary-light text-center" data-toggle="collapse" data-parent="#accordion1-2" data-target="#accordion1-2">
                    <header><strong> NUEVOS SERVICIOS{{}}</strong></header>
                </div>
                {{as.mes}}
                <div class="row">
                    <div class="col-lg-12">        
                        <table datatable="" dt-options="as.dtOptions" dt-columns="as.dtColumns" class="table table-striped table-hover"></table>
                                       
                    </div>
                </div><!--end .row -->
            </div>
        </div>
    </div>
</div>