<div class="section-header">
    <img src="imss2.png" style="width:60%"; height="180px; margin:0auto;"/>
    <h2 class="text-primary">SOLICITUD DE REPARACION DE EQUIPOS A LA C.D.I.</h2>
</div><br/><br/><br/><br/><br/><br/><br/>
<div class="section-body" >
    <div class="row">
        <div class="card panel" id="proveedoresCardForm">
            <div class="card-head card-head-sm collapsed style-primary-light" data-toggle="collapse" data-parent="#accordion1" data-target="#accordion1-2">
                <header>Nuevo Reporte</header>
                <div class="tools">
                    <a class="btn btn-icon-toggle"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div id="accordion1-2" class="collapse">
                <!-- BEGIN VALIDATION FORM WIZARD -->

                <div class="row">
                    <div class="col-lg-12">
                        <form class="form form-validate floating-label" novalidate="novalidate">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group"><br/>
                                            <input type="date" name="fecha" id="fecha" class="form-control" data-rule-minlength="2" required>
                                            <label for="firstname" class="control-label">Fecha</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group"><br/>
                                            <input type="text" name="lastname" id="lastname" class="form-control" data-rule-minlength="2" required>
                                            <label for="lastname" class="control-label">Folio</label>
                                        </div>
                                    </div>
                                    <h3 class="text-primary">DATOS DEL EQUIPO
                                        <span style="font-size: 15px">(Marque con "XXX" el tipo de equipo reportado y especifique marca, modelo y serie)</span></h3>
                                </div>
                                <div class="form-group">
                                   <div class="col-sm-3"><br/><input type="radio" name="cpu" id="cpu" class="form-control" checked>
                                        <label for="" class="control-label">CPU</label></div>
                                    <div class="col-sm-3"><br/><input type="radio" name="monitor" id="monitor" class="form-control">
                                         <label for="" class="control-label">Monitor</label></div>
                                    <div class="col-sm-3"><br/><input type="radio" name="impresora" id="impresora" class="form-control">
                                         <label for="" class="control-label">Impresora</label></div>
                                    <div class="col-sm-3"><br/><input type="text" name="otro" id="otro" class="form-control" data-rule-minlength="3" required>
                                         <label for="" class="control-label">OTRO</label></div>
                                </div>
                                <br/><br/>
                                <div class="form-group">
                                    <div class="col-sm-6"><br/><br/><input type="text" name="marca" id="marca" class="form-control" data-rule-minlength="3" required>
                                    <label for="" class="control-label">MARCA</label></div>
                                    <div class="col-sm-6"><br/><br/><input type="text" name="nomusuario" id="nomusuario" class="form-control" data-rule-minlength="3" required>
                                        <label for="" class="control-label">NOMBRE DE USUARIO</label></div>
                                    <div class="col-sm-6"><br/><br/><input type="text" name="marca" id="marca" class="form-control" data-rule-minlength="3" required>
                                        <label for="" class="control-label">MODELO</label></div>
                                    <div class="col-sm-6"><br/><br/><input type="text" name="nomusuario" id="nomusuario" class="form-control" data-rule-minlength="3" required>
                                        <label for="" class="control-label">CONTRASEÑA</label></div>
                                    <div class="col-sm-6"><br/><input type="text" name="serie" id="serie" class="form-control" required="" data-rule-minlength="5">
                                        <label  class="control-label">SERIE:</label> </div>
                                    <div class="col-sm-6"><br/><input type="text" name="ip" id="ip" class="form-control" data-rule-equalto="#password1" required="">
                                        <label  class="control-label">IP</label></div>
                                    <div class="col-sm-6"><br/><input type="checkbox" name="garantia" id="garantia" class="" data-rule-equalto="#password1" required="">
                                        <label  class="control-label">GARANTIA</label></div>
                                    <div class="col-sm-6"><br/><input type="text" name="domicilio" id="domicilio" class="form-control" data-rule-equalto="#password1" required="">
                                        <label  class="control-label">DOMICILIO</label></div>
                                </div>
                                <br/><br/><br/>
                                <h3 class="text-primary">DATOS DEL USUARIO <span style="font-size: 15px">(Escribe los datos del usuario: sesion y contraseña del equipo)</span></h3>
                                <div class="form-group">
                                    <div><br/><input type="text" name="nomtrabajador" id="nomtrabajador" class="form-control" required>
                                        <label for="" class="control-label">NOMBRE DEL TRABAJADOR:</label></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6"><br/><input type="text" name="unidaddesc" id="unidaddesc" class="form-control" required>
                                        <label for="" class="control-label">UNIDAD DE DESCRIPCION:</label></div>
                                    <div class="col-sm-6"><br/><input type="text" name="servicio" id="servicio" class="form-control" required>
                                        <label for="" class="control-label">SERVICIO:</label></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-6"><br/><input type="text" name="telefonoex" id="telefonoex" class="form-control" required>
                                        <label for="" class="control-label">TELEFONO Y EXTENSION:</label></div>
                                    <div class="col-sm-6"><br/><input type="text" name="redvirtual" id="redvirtual" class="form-control" required>
                                        <label for="" class="control-label">RED VIRTUAL:</label></div>
                                </div>
                                <br/><br/><br/>
                                <h4 class="text-primary">LLENAR SOLO SI EL EQUIPO TIENE CONFIGURADO CORREO ELECTRONICO INSTITUCIONAL:</h4>

                                <div class="form-group">
                                    <div class="col-sm-12"><br/><input type="text" name="cuenta" id="cuenta" class="form-control" required>
                                        <label for="" class="control-label">CUENTA:</label></div>
                                    <div class="col-sm-12"><br/><input type="text" name="contraseña2" id="contraseña2" class="form-control" required>
                                        <label for="" class="control-label">CONTRASEÑA:</label></div>
                                    <div class="col-sm-12"><br/><label for="" class="control-label">LINK:</label>
                                        SI <input type="checkbox" name="si" id="linc" value="SI">

                                       NO <input type="checkbox" name="no" id="linc" value="NO" ><br/>
                                        <span style="font-size: 14px">(Marque la opcion SI o NO tiene Messenger)</span><br/>
                                    </div>
                                </div>

                                <h3 class="text-primary">MOTIVO DEL REPORTE <span style="font-size: 15px">(Marque el problema o falla que presente el equipo que se reporta)</span></h3>

                                <div class="form-group">

                                    <div class="col-sm-6">
                                        <h4 class="text-primary">IMPRESORA</h4><br/>
                                        <input type="checkbox" name="atorah" id="atorah" > <label for=""> ATORA HOJAS</label><br/>
                                        <input type="checkbox" name="noenciende" id="noenciende" > <label for=""> NO ENCIENDE</label><br/>
                                        <input type="checkbox" name="alarmada" id="alarmada" > <label for=""> ALARMADA</label><br/>
                                        <input type="checkbox" name="linc" id="linc" > <label for=""> MANCHA LAS HOJAS</label><br/>
                                        <input type="checkbox" name="linc" id="linc" > <label for=""> MENSAJE DE ERROR</label>&nbsp;&nbsp;&nbsp;
                                        <label for="">(Especifique)</label><input type="text" name="especifique" id="especifique"><br/>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4 class="text-primary">CPU</h4><br/>
                                        <input type="checkbox" name="noenciendeCPU" id="noenciendeCPU" > <label for=""> NO ENCIENDE</label><br/>
                                        <input type="checkbox" name="focosrojos" id="focosrojos" > <label for=""> ALARMADA (FOCOS ROJOS)</label><br/>
                                        <input type="checkbox" name="bloqueo" id="bloqueo" > <label for=""> BLOQUEO O LENTITUD</label><br/>
                                        <input type="checkbox" name="viruscpu" id="viruscpu" > <label for=""> VIRUS</label><br/>
                                        <input type="checkbox" name="seapaga" id="seapaga" > <label for=""> SE APAGA O REINICIA</label>

                                    </div>
                                    <div class="col-sm-12">
                                        <span style="text-align: center">(Describa detalladamente el problema o falla que presenta el equipo que se reporta)</span>
                                        <input type="text" name="detalles" id="detalles" class="form-control" >
                                    </div>
                                </div>

                        </form>
                    </div><!--end .col -->
                </div><!--end .row -->
                <!-- END VALIDATION FORM WIZARD -->
            </div>
        </div><!--end .panel -->

    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <p class="text-danger"><strong>{{ tableCase.message }}</strong></p>
            <br>
            <table datatable="" dt-options="tableCase.dtOptions" dt-columns="tableCase.dtColumns" class="table table-striped table-hover"></table>
        </div>
    </div>
</div>